:root {
    --vp-c-brand: #54a8ed;
    --vp-c-brand-light: #71b5ec;
    --vp-c-brand-lighter: #7dbbee;
    --vp-c-brand-dark: #399ae9;
    --vp-c-brand-darker: #2b96ee;
  
    --vp-c-sponsor: #ed5454;

    /* Typography */
    --vp-font-family-base: "Space Grotesk", "Inter var experimental", "Inter var",
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

    /* Code Snippet font */
    --vp-font-family-mono: "Space Mono", Menlo, Monaco, Consolas, "Courier New",
    monospace;
  }